html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}

#display {
  canvas {
    width: 64px;
    height: 64px;
    /* Render like gl.NEAREST */
    image-rendering: crisp-edges; /* for firefox */
    image-rendering: pixelated; /* for everything else */
  }
}
